@import url('https://fonts.googleapis.com/css?family=Oswald');
li {
  list-style: none;
}

body {
  background-color: #111;
  padding-top: 40px;
}

* {
  box-sizing: border-box;
  word-wrap: break-word;
  font-family: 'Oswald', sans-serif;
}

.contain {
  width: 50%;
  margin-right:auto;
  margin-left:auto;
}

label {
  width:100%;
}

#search-container {
  background-color: #F2ECF2;
  padding-top: 100px;
  position: relative;
  height: auto;
  padding-bottom: 30px;
}

#buttons {
  margin-top: 10px;
  text-align:center
}

input {
  width: 70%;
  background-color: #222;
  color: lightgray;
  font-weight: lighter;
  padding: 10px;
  border:0px;
  border: 1px solid black;
  font-size:19px
}

#vidDiv {
  position: relative;
}

.row {
  margin-right:0px;
  margin-left:0px;
}

iframe {
  width: 100%;
  margin-top: 40px;
  height:250px;
}

h1 { 
  padding:20px;
  text-align:left;
  font-weight:bold;
  font-size:4em;
  margin-bottom:-10px;
font-family: 'Bahiana', cursive;
}

h4 {
  text-align: center;
  padding-top:15px;
}

.title {
  position: absolute;
  padding-right: 10px;
  color: #ccc;
}

#search-button {
  padding: 10px;
  background-color: #7F839C;
  font-weight:lighter;
  font-size: 20px;
  color: white;
  width:30%;
  border:0px;
  margin-bottom: 15px;
  height:50px;
}

#search-button:hover {
  background-color: #5B5E70;
}

h2 {
  margin: 0px;
  padding: 0px;
  text-align: right;
  font-size: 50px;
  position: absolute;
  top: 2px;
  right: 20px;
  color: #111
}

a {
  color: #263248;
  text-transform: capitalize;
  font-size:medium;
}

a:hover {
  color: #5B5ECE;
}

.hidden {
  display: none;
}

#page {
  text-align: center;
  margin-right: 20px;
}

img {
  width:100px;
  position:fixed;
  bottom:0px;
  right:0px;
}

#bubble {
  position:fixed;
  background-color:whitesmoke;
  width:100px;
  height:70px;
  bottom:75px;
  right:80px;
      border-top-right-radius: 18px;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 12px;
}

.resultImg {
  margin-top:25px;
}

.nexprev {
  padding: 10px;
}

@media screen and (max-width: 680px) {
  .contain {
    width: 100%;
  }
  input{
    width:100%;
  }
  #buttons {
    width:100%;
  }
  #search-button {
    width:100%;
  }
  h1 {
    padding-left:5px;
  }
}











